{% extends "base_templates/base.html" %}

{% block title %}Commencer une nouvelle partie{% endblock %}

{% block body %}
<div class="container my-4">
    <h4 class="text-center mb-4">Nouvelle Configuration de Jeu</h4>

    <form action="{{url_for("set_game_names", filename=filename)}}" method="POST">
        {% for i in range(GAME_MAX_PLAYERS) %}
        <div class="form-floating mb-3">
            <input name="player{{loop.index}}" type="text" class="form-control rounded-3" id="player{{loop.index}}">
            <label for="player{{loop.index}}">Nom du Joueur {{loop.index}}</label>
        </div>
        {% else %}
        <h5 class="text-center mb-4 py-1 text-bg-danger">ERREUR CRITIQUE DE CONFIGURATION DU SYSTÈME</h5>
        {% endfor %}

        <button class="w-100 btn btn-lg rounded-3 btn-outline-success mb-4" type="submit">Début!</button>
    </form>
</div>
{% endblock %}

{% block footer %}{% if GAME_MAX_PLAYERS < 9 %}fixed-bottom{% endif %}{% endblock %}